<!DOCTYPE html>
<html lang="en">
<head>
	<title> Team Elpizo-- Our Solutions </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link href="https://teamelpizo.github.io/css/solutionsDesign.css" rel="stylesheet" type="text/css" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script type="text/javascript" src="https://teamelpizo.github.io/scripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://teamelpizo.github.io/scripts/all-plugins.js"></script>
	<script type="text/javascript" src="https://teamelpizo.github.io/scripts/plugins-activate.js"></script>
<script type="text/javascript" src="https://teamelpizo.github.io/scripts/solutions.js"></script>
</head>
<body>
<div class="logo">
<h3> Here are the results of what hazard we detected. THIS SITE IS STILL A WORK IN PROGRESS<br></h3>
{{label}}
</div>
</body>
</html>
